* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f3f4f7;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #0056b3;
    font-size: 2rem;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #28655d;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    height: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    background-color: #f9f9f9;
    border: 2px solid rgb(32, 198, 156);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 10px;
}

button[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: rgb(247, 6, 6);
    font-size: 0.7rem;
    font-weight: bold; 
    margin-bottom: 10px; 
}

.error-input {
    border-color: rgb(148, 34, 34);
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    form {
        padding: 20px;
        max-width: 90%;
    }

    button[type="submit"] {
        font-size: 16px;
        padding: 12px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"] {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"] {
        font-size: 12px;
        padding: 8px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }
}

.error.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}